In [28]:
# 날짜: 05/23 작성자: 송승민 작성목적: 결측치 확인, 데이터 전처리 & 데이터 셋 생성
# 주제 세대 별 구매금액 및 구매상품종류 분석

In [1]:
# 필요한 패키지들 import작업
import pandas as pd
from statsmodels.formula.api import ols, glm
import statsmodels.api as sm
import matplotlib.pyplot as plt
import numpy as np

In [4]:
# csv데이터 파일 가져오기
customer = pd.read_csv("customer.csv")
sales = pd.read_csv("sales.csv")
store = pd.read_csv("store.csv")

In [6]:
# 고객들의 연령대 확인
customer.sort_values('연령')

           고객ID 성별  연령              거주지역
3201  Q10253817  F  20       서울 광진구 중곡3동
259   Q16064122  F  20       서울 양천구 신정4동
1231  Q04808872  F  20      서울 성북구 동선동4가
1495  Q53155612  F  20        서울 은평구 대조동
73    Q32750017  F  20  경기 고양시 일산동구 마두1동
...         ... ..  ..               ...
2105  Q30275575  F  79        서울 서초구 잠원동
3636  Q66945670  F  79        서울 서초구 서초동
3428  Q91325491  F  79    경기 고양시 덕양구 관산동
4952  Q16180300  M  79       서울 서초구 서초1동
552   Q12007891  F  79       서울 성북구 돈암2동

[5000 rows x 4 columns]

In [7]:
# 20살 단위로 고객들 분류
customer_2030 = customer[customer['연령'].isin([20,39])]
customer_4050 = customer[customer['연령'].isin([40,59])]
customer_6070 = customer[customer['연령'].isin([60,79])]

In [8]:
# 세대 별 고객들 명단

list_2030 = customer_2030['고객ID']
list_4050 = customer_4050['고객ID']
list_6070 = customer_6070['고객ID']

In [9]:
# 세대 별 거래식별 ID명단
sales_2030 = sales[sales['고객ID'].isin(list_2030)]
sales_4050 = sales[sales['고객ID'].isin(list_4050)]
sales_6070 = sales[sales['고객ID'].isin(list_6070)]

pay_2030 = sales_2030['거래식별ID']
pay_4050 = sales_4050['거래식별ID']
pay_6070 = sales_6070['거래식별ID']

In [34]:
#세대 별 거래내역

sales_2030 = sales[sales['고객ID'].isin(list_2030)]
sales_4050 = sales[sales['고객ID'].isin(list_4050)]
sales_6070 = sales[sales['고객ID'].isin(list_6070)]

In [11]:
# 세대 별 구매금액 통계
# 2030
sales_2030
salesPay_2030 = sales_2030['구매금액']

In [35]:
#4050
sales_4050.구매금액.describe()
salesPay_4050 = sales_4050['구매금액']

In [36]:
sales_4050.구매금액.describe()

count     2342.000000
mean      5009.492741
std       5625.583332
min         40.000000
25%       1920.000000
50%       3448.500000
75%       5990.000000
max      69900.000000
Name: 구매금액, dtype: float64

In [37]:
#6070
sales_6070.구매금액.describe()
salesPay_6070 = sales_6070['구매금액']

In [38]:
sales_6070.구매금액.describe()

count     1046.000000
mean      5585.304971
std       6554.686187
min        120.000000
25%       2000.000000
50%       3980.000000
75%       6900.000000
max      77000.000000
Name: 구매금액, dtype: float64

In [39]:
salesPay_2030_test = salesPay_2030.reset_index(drop=True)
salesPay_4050_test = salesPay_4050.reset_index(drop=True)
salesPay_6070_test = salesPay_6070.reset_index(drop=True)

In [15]:
salesPay_2030_test

0        2200
1        4000
2        3865
3        5640
4        3144
        ...
1426     7000
1427     2190
1428     5000
1429    10000
1430    21536
Name: 구매금액, Length: 1431, dtype: int64

In [31]:
salesPay_4050_test

0        2200
1        4000
2        3865
3        5640
4        3144
        ...
1426     7000
1427     2190
1428     5000
1429    10000
1430    21536
Name: 구매금액, Length: 1431, dtype: int64

In [16]:
len(list_2030)

145

In [40]:
pay_2030_test = pay_2030.reset_index(drop=True)
pay_4050_test = pay_4050.reset_index(drop=True)
pay_6070_test = pay_6070.reset_index(drop=True)

In [18]:
len(salesPay_2030_test)

1431

In [28]:
# 2030에선 5575원이 상위 75%의 거래에게 관심이 있다.
lis2030 = []
for i in range(len(pay_2030_test)):
    if salesPay_2030_test[i] >= 5575:
        lis2030.append(1)
    else:
        lis2030.append(0)

In [41]:
# 4050에선 5990원인 상위 75%의 거래에게 관심이 있다.
lis4050 = []
for i in range(len(pay_4050_test)):
    if salesPay_4050_test[i] >= 5900:
        lis4050.append(1)
    else:
        lis4050.append(0)

In [42]:
# 6070에선 6900원인 상위 75%의 거래에게 관심이 있다.
lis6070 = []
for i in range(len(pay_6070_test)):
    if salesPay_6070_test[i] >= 6900:
        lis6070.append(1)
    else:
        lis6070.append(0)

In [43]:
sales_2030_test = sales_2030.reset_index(drop=True)
sales_4050_test = sales_4050.reset_index(drop=True)
sales_6070_test = sales_6070.reset_index(drop=True)

In [21]:
sales_2030_test

           고객ID   거래식별ID 점포ID      거래일자  거래시간대 상품대분류명 상품중분류명  구매건수   구매금액
0     Q00422445  A027663   BB  20140422     11     냉장    냉장면     1   2200
1     Q00422445  A027663   BB  20140422     11    면과자  쿠키케이크     1   4000
2     Q00422445  A027663   BB  20140422     11     야채   기타야채     1   3865
3     Q00422445  A027663   BB  20140422     11    음주류     음료     1   5640
4     Q00422445  A027926   BB  20140429     12     야채    근채류     1   3144
...         ...      ...  ...       ...    ...    ...    ...   ...    ...
1426  Q96401428  A021749   AA  20140901     22    음주류     주류     2   7000
1427  Q96401428  A024302   AA  20140918     19    음주류     주류     1   2190
1428  Q96401428  A024302   AA  20140918     19     축산  국내산계육     1   5000
1429  Q96767498  A017347   AA  20140803     17     수산   기타수산     1  10000
1430  Q97320239  A019315   AA  20140816     20     축산  국내산돈육     1  21536

[1431 rows x 9 columns]

In [44]:
sales_2030_test['over_75per'] = lis2030
sales_4050_test['over_75per'] = lis4050
sales_6070_test['over_75per'] = lis6070

In [23]:
sales_2030_test

,고객ID,거래식별ID,점포ID,거래일자,거래시간대,상품대분류명,상품중분류명,구매건수,구매금액,over_75per
0,Q00422445,A027663,BB,20140422,11,냉장,냉장면,1,2200,0
1,Q00422445,A027663,BB,20140422,11,면과자,쿠키케이크,1,4000,0
2,Q00422445,A027663,BB,20140422,11,야채,기타야채,1,3865,0
3,Q00422445,A027663,BB,20140422,11,음주류,음료,1,5640,1
4,Q00422445,A027926,BB,20140429,12,야채,근채류,1,3144,0
...,...,...,...,...,...,...,...,...,...,...
1426,Q96401428,A021749,AA,20140901,22,음주류,주류,2,7000,1
1427,Q96401428,A024302,AA,20140918,19,음주류,주류,1,2190,0
1428,Q96401428,A024302,AA,20140918,19,축산,국내산계육,1,5000,0
1429,Q96767498,A017347,AA,20140803,17,수산,기타수산,1,10000,1
1430,Q97320239,A019315,AA,20140816,20,축산,국내산돈육,1,21536,1

In [46]:
sales_6070_test

,고객ID,거래식별ID,점포ID,거래일자,거래시간대,상품대분류명,상품중분류명,구매건수,구매금액,over_75per
0,Q00226226,A035601,CC,20140412,20,낙농,발효유,1,4800,0
1,Q00226226,A036663,CC,20140426,19,일상용품,화장지,1,11900,1
2,Q01934224,A058937,DD,20140807,20,면과자,라면,1,2750,0
3,Q01934224,A061352,DD,20140907,10,일반식품,병통조림,1,4480,0
4,Q01934224,A061352,DD,20140907,10,일상용품,주방주거세제,1,4790,0
...,...,...,...,...,...,...,...,...,...,...
1041,Q92844744,A013523,AA,20140710,16,야채,두채류,1,3990,0
1042,Q92844744,A013523,AA,20140710,16,야채,양채류,1,1200,0
1043,Q96021917,A056124,DD,20140705,19,청과,사과참외,1,6990,1
1044,Q97490807,A019868,AA,20140820,17,냉동,만두,1,6980,1
1045,Q97490807,A019868,AA,20140820,17,면과자,라면,1,2850,0

In [47]:
logics2030 = sm.Logit.from_formula('over_75per~상품대분류명', data = sales_2030_test).fit()
logics4050 = sm.Logit.from_formula('over_75per~상품대분류명', data = sales_4050_test).fit()
logics6070 = sm.Logit.from_formula('over_75per~상품대분류명', data = sales_6070_test).fit()

Optimization terminated successfully.
         Current function value: 0.455492
         Iterations 7
Optimization terminated successfully.
         Current function value: 0.445220
         Iterations 7
Optimization terminated successfully.
         Current function value: 0.432404
         Iterations 7

In [26]:
logics2030.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:             over_75per   No. Observations:                 1431
Model:                          Logit   Df Residuals:                     1417
Method:                           MLE   Df Model:                           13
Date:                Thu, 23 May 2024   Pseudo R-squ.:                  0.1903
Time:                        21:46:57   Log-Likelihood:                -651.81
converged:                       True   LL-Null:                       -804.98
Covariance Type:            nonrobust   LLR p-value:                 1.136e-57
==================================================================================
                     coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept          2.5649      1.038      2.472      0.013       0.531       4.599
상품대분류명[T.낙농]      -4.5377      1.064     -4.267      0.000      -6.622      -2.453
상품대분류명[T.냉동]      -3.5895      1.084     -3.313      0.001      -5.713      -1.466
상품대분류명[T.냉장]      -3.8102      1.070     -3.561      0.000      -5.907      -1.713
상품대분류명[T.델리카]     -3.1801      1.074     -2.960      0.003      -5.286      -1.075
상품대분류명[T.면과자]     -5.1299      1.070     -4.796      0.000      -7.226      -3.033
상품대분류명[T.수산]      -2.4779      1.065     -2.326      0.020      -4.566      -0.390
상품대분류명[T.야채]      -5.0029      1.064     -4.704      0.000      -7.088      -2.918
상품대분류명[T.음주류]     -3.8105      1.053     -3.618      0.000      -5.875      -1.746
상품대분류명[T.일반식품]    -3.3759      1.072     -3.149      0.002      -5.477      -1.275
상품대분류명[T.일상용품]    -2.3826      1.067     -2.233      0.026      -4.473      -0.292
상품대분류명[T.조미료류]    -4.2467      1.107     -3.837      0.000      -6.416      -2.077
상품대분류명[T.청과]      -2.2947      1.067     -2.151      0.031      -4.385      -0.204
상품대분류명[T.축산]      -1.6574      1.067     -1.554      0.120      -3.748       0.433
==================================================================================
"""

In [48]:
logics4050.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:             over_75per   No. Observations:                 2342
Model:                          Logit   Df Residuals:                     2328
Method:                           MLE   Df Model:                           13
Date:                Thu, 23 May 2024   Pseudo R-squ.:                  0.2381
Time:                        22:14:13   Log-Likelihood:                -1042.7
converged:                       True   LL-Null:                       -1368.6
Covariance Type:            nonrobust   LLR p-value:                6.654e-131
==================================================================================
                     coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept          1.9095      0.536      3.564      0.000       0.859       2.960
상품대분류명[T.낙농]      -4.2368      0.577     -7.345      0.000      -5.367      -3.106
상품대분류명[T.냉동]      -2.6027      0.594     -4.385      0.000      -3.766      -1.439
상품대분류명[T.냉장]      -2.9877      0.572     -5.220      0.000      -4.110      -1.866
상품대분류명[T.델리카]     -2.2029      0.572     -3.854      0.000      -3.323      -1.083
상품대분류명[T.면과자]     -4.7801      0.591     -8.089      0.000      -5.938      -3.622
상품대분류명[T.수산]      -1.6344      0.562     -2.906      0.004      -2.737      -0.532
상품대분류명[T.야채]      -4.5535      0.569     -8.000      0.000      -5.669      -3.438
상품대분류명[T.음주류]     -3.5437      0.570     -6.222      0.000      -4.660      -2.427
상품대분류명[T.일반식품]    -2.5033      0.574     -4.364      0.000      -3.628      -1.379
상품대분류명[T.일상용품]    -2.1247      0.568     -3.737      0.000      -3.239      -1.010
상품대분류명[T.조미료류]    -3.1435      0.586     -5.366      0.000      -4.292      -1.995
상품대분류명[T.청과]      -1.5747      0.554     -2.844      0.004      -2.660      -0.490
상품대분류명[T.축산]      -0.6621      0.579     -1.144      0.252      -1.796       0.472
==================================================================================
"""

In [27]:
print(np.exp(logics2030.params))

Intercept         13.000000
상품대분류명[T.낙농]       0.010698
상품대분류명[T.냉동]       0.027613
상품대분류명[T.냉장]       0.022145
상품대분류명[T.델리카]      0.041580
상품대분류명[T.면과자]      0.005917
상품대분류명[T.수산]       0.083916
상품대분류명[T.야채]       0.006718
상품대분류명[T.음주류]      0.022136
상품대분류명[T.일반식품]     0.034188
상품대분류명[T.일상용품]     0.092308
상품대분류명[T.조미료류]     0.014311
상품대분류명[T.청과]       0.100796
상품대분류명[T.축산]       0.190635
dtype: float64